.taille {
    width: 40%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-top: 2%;
    margin-bottom: 5%;
}

.video {
    width: 100%;
    height: 380px;
    margin-top: 2%;
    white-space: initial
}

.titreh2 {
    margin: 4% 0 4% 0;
    font-size: 25px;
    color: #5d4384;
}

.overflow-visible {
    white-space: initial
}

.couleurli {
    color: #5d4384;
    font-size: 20px;
}

.couleurbg {
    background-color: #5d4384;
    color: white;
}

.colora {
    background-color: #5d4384;
    color: white;
}

.colornavbar {
    background-color: #5d4384;
}

.colornav {
    color: white;
}

a:hover {
    color: gray;
}


/** 
 * Bootstrap Submenu
 * Inspired from: https://codepen.io/surjithctly/pen/PJqKzQ
 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}